li {
  
  color:#eb1414e1;
  -webkit-text-stroke-width: .25px;
  -webkit-text-stroke-color: pink;
  font-size: larger;
}

body {
  background-image: url("./images/laser room.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: soft-light ;
}

p, h1 {
  color: rgb(200, 221, 7);
  text-shadow: 5px 5px rgba(44, 77, 167, 0.87);
}

h2 {
  text-shadow: 3px, 3px, rgba(2, 133, 61, 0.274);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(146, 10, 55);
}
h3 {
  color: rgb(221, 189, 7);
  text-shadow: 2px 2px rgba(65, 110, 233, 0.87);
}

span {
  color: rgb(4, 180, 4);
  text-align: center;
  grid-column-start: auto;
}

.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.img {
  width: "75%"; 
  height: "75%"
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
