
body {
  background-image: url("./images/greencontrollers.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: soft-light ;
  opacity: 2;
}

p, h1 {
  color: rgb(200, 221, 7);
  text-shadow: 5px 5px rgba(44, 77, 167, 0.87);
}

h2 {
  text-shadow: 3px, 3px, #11d8c7a4;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(16, 166, 212);
}
h3 {
  color: rgb(221, 189, 7);
  text-shadow: 2px 2px rgba(65, 110, 233, 0.87);
}

h4 {
  color:rgb(16, 166, 212)
}

span {
  color: rgb(4, 180, 4);
  text-align: center;
  grid-column-start: auto;
}

.App {
  text-align: center;
  
}

li {
  
  color:#ce0707e1;
  -webkit-text-stroke-width: .50px;
  -webkit-text-stroke-color: pink;
  font-size: larger;
  text-align: center;
}

img {
  width: 50%; 
  height: 50%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  padding: 1rem;
  color:rgba(11, 236, 11, 0.705);
  position: relative;
  width: 100%;
  height: 60px;
  font-family: 'PressStart2P', monospace;
}

a.active{
  color: lightblue;
}

.brand-name{
  color: silver;
  align-self: left;
  font-family: fantasy;
  font-size: 34px;
}

.App-link {
  color: #61dafb;
}

header {
  text-align: right;
  color:rgb(4, 180, 4);
}

button, input {
  color:white;
  background-color: #F88D2E;
  box-shadow: inset -4px -4px 0 #965117, inset 4px 4px 0 #FAB89B;
  border: solid;
  border-color: #070000;
  font-size: 15px;
}

button:hover{background-color:orange;}

button:active, input:active{
  background-color:red;
  box-shadow: inset -4px -4px 0 #FAB89B, inset 4px 4px 0 #965117;
}

ul {
  padding: 1.5rem;

}

table {
  empty-cells: show;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
